<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheng.cc.kindsofbottomnavigationbar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TabHost_Activity"
            android:label="@string/title_activity_tab_host"
            android:parentActivityName="android.app.TabActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.TabActivity" />
        </activity>
        <activity android:name=".activity.First_Activity" />
        <activity android:name=".activity.Second_Activity" />
        <activity android:name=".activity.Third_Activity" />
        <activity android:name=".activity.Four_Activity" />
        <activity android:name=".activity.FragmentTabHost_Activity" />
        <activity android:name=".activity.TabLayout_Activity" />
        <activity android:name=".activity.RadioGroup_Activity" />
        <activity android:name=".activity.TextViewFrag_Activity" />
        <activity android:name=".activity.PagerTabStrip_Activity"></activity>
    </application>

</manifest>